services:
  vecs:
    image: vecs:latest
    container_name: vecs
    build: . # Costruisce l'immagine se non esiste
    ports:
      - "6379:6379"
    env_file:
      - .env
    # Scommenta le righe sotto se vuoi usare modelli custom
    volumes:
      - ./models:/app/models
      - vecs_data:/app/data
    restart: unless-stopped
    ulimits:
      memlock: -1 # Utile per llama.cpp (mmap)
      stack: 67108864

volumes:
  vecs_data:
    driver: local
